{% comment %}
  Renders a tab bar component using collections from the section blocks.
{% endcomment %}

{{ 'component-tab-bar.css' | asset_url | stylesheet_tag }}

<script src="{{ 'collection-tabs.js' | asset_url }}" defer></script>

{% unless section.blocks.size == 0 %}
  <tab-bar
    class="tab-bar"
    data-collection-handle="{{ collection.handle }}"
    data-collection-url="{{ collection.url }}"
  >
    <nav>
      {% for block in section.blocks %}
        <a
          href="{{ block.settings.collection.url }}"
          {% if collection.handle == block.settings.collection.handle %}data-selected{% endif %}
        >
          {{ block.settings.collection.title | upcase }}
        </a>
      {% endfor %}
    </nav>
    <select>
      {% for block in section.blocks %}
        <option
          value="{{ block.settings.collection.url }}"
          {% if collection.handle == block.settings.collection.handle %}selected{% endif %}
        >
          {{ block.settings.collection.title | upcase }}
        </option>
      {% endfor %}
    </select>
  </tab-bar>
{% endunless %}

{% schema %}
  {
    "name": "Collection tabs",
    "class": "collection-tabs page-width",
    "settings": [],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection tabs",
        "settings": {}
      }
    ],
    "enabled_on": {
      "templates": ["collection"]
    }
  }
{% endschema %}