{% unless section.blocks.size == 0 %}
  <tab-bar
    class="tab-bar"
    data-collection-handle="{{ collection.handle }}"
  >
    <nav>
      {% for block in section.blocks %}
        <a
          href="{{ block.settings.collection.url }}"
          {% if collection.handle == block.settings.collection.handle %}data-selected{% endif %}
        >
          {{ block.settings.collection.title | upcase }}
        </a>
      {% endfor %}
    </nav>
    <select>
      {% for block in section.blocks %}
        <option value="{{ block.settings.collection.url }}">
          {{ block.settings.collection.title | upcase }}
        </option>
      {% endfor %}
    </select>
  </tab-bar>
{% endunless %}

{% schema %}
  {
    "name": "Collection tabs",
    "class": "collection-tabs",
    "settings": [],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}